.app {
  margin: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  white-space: nowrap;
}

form label {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.add-loan-btn,
.calculate-btn {
  margin-bottom: 30px;
}

.payoff-strategy-form {
  justify-content: left;
}

.radio-option-group {
  display: flex;
  align-items: center;
  align-content: center;
}

.radio-option-group input {
  margin-right: 5px;
}
.radio-option-group label {
  margin-bottom: 0;
}
